body {
  background-color: #f6f6f6;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

form p {
  text-align: center;
  color: green;
  font-size: 18px;
  font-weight: bold;
}
